name: Build on Release

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write    # important for upload-release-asset
      packages: read

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'

    - name: Build with Maven
      run: mvn -B clean package --file pom.xml

    - name: Upload JAR to GitHub Release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: target/woahcab-1.0.0-SNAPSHOT.jar
        asset_name: woahcab.jar
        asset_content_type: application/java-archive